*, *::before, *::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5rem;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.container {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 1.5rem;
}

.container .hide {
  display: none;
}

.container .hideMenu {
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
}

.callus {
  position: absolute;
  height: 70px;
  width: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #007bff;
  color: white;
  bottom: 1.5rem;
  right: 1.5rem;
  font-size: 3rem;
  border-radius: 50%;
  -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.09), 0 6px 6px rgba(0, 0, 0, 0.13);
          box-shadow: 0 10px 20px rgba(0, 0, 0, 0.09), 0 6px 6px rgba(0, 0, 0, 0.13);
  cursor: pointer;
}

#header {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

#header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  z-index: 1200;
}

#header nav .menu-toggle {
  cursor: pointer;
  position: absolute;
  color: white;
  font-size: 3rem;
  top: 1.5rem;
  right: 1.5rem;
  z-index: 5000;
}

#header nav .logo {
  position: absolute;
  top: 2.3rem;
  left: 1.5rem;
  text-decoration: none;
  color: white;
  font-weight: bold;
  font-size: 2rem;
}

#header nav .logo i {
  color: #007bff;
}

#header nav .nav-list {
  position: fixed;
  top: 0;
  left: 0;
  width: 70vw;
  height: 100vh;
  background-color: #007bff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  padding: 2.5rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2), 0 6px 6px rgba(0, 0, 0, 0.23);
          box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2), 0 6px 6px rgba(0, 0, 0, 0.23);
  -webkit-transition: -webkit-transform .6s;
  transition: -webkit-transform .6s;
  transition: transform .6s;
  transition: transform .6s, -webkit-transform .6s;
  z-index: 6000;
}

#header nav .nav-list li a {
  color: white;
  font-size: 3rem;
  font-weight: 800;
  text-transform: uppercase;
}

#header nav .nav-background {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: black;
  z-index: 100;
  opacity: .5;
  -webkit-transition: -webkit-transform .7s;
  transition: -webkit-transform .7s;
  transition: transform .7s;
  transition: transform .7s, -webkit-transform .7s;
}

#hero {
  height: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  background-image: url(../img/hero.jpg);
  background-size: cover;
  background-position: center;
  color: white;
}

#hero .heading {
  font-size: 2rem;
  margin-bottom: 1rem;
}

#hero .subheading {
  font-size: 1.2rem;
  margin-bottom: 4rem;
}

#hero .search-form {
  display: inline-block;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 5px;
  overflow: hidden;
  width: 80%;
  height: 60px;
  -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1), 0 6px 6px rgba(0, 0, 0, 0.13);
          box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1), 0 6px 6px rgba(0, 0, 0, 0.13);
}

#hero .search-form .searchinput {
  display: inline;
  width: 70%;
  padding: 1rem;
  outline: none;
  float: left;
  height: 100%;
  border: none;
  color: #333;
  font-weight: normal;
}

#hero .search-form ::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.5);
}

#hero .search-form :-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.5);
}

#hero .search-form ::-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.5);
}

#hero .search-form ::placeholder {
  color: rgba(0, 0, 0, 0.5);
}

#hero .search-form .searchbtn {
  float: right;
  height: 100%;
  display: inline;
  cursor: pointer;
  width: 30%;
  background-color: #007bff;
  font-size: 1.4rem;
  font-weight: 600;
  color: white;
  border: none;
  outline: none;
}
/*# sourceMappingURL=main.css.map */